<!DOCTYPE html>
<html>
<head>
  <title>hello</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap-js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/css.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light kk">
  
<div class="navbar-collapse" >
  <ul class="navbar-nav lead ml-auto" style="font-weight: 600;f">
    <li class="nav-item ">
      <a href="/" class="nav-link">Home</a>
    </li>
    <li>
      <a href="/Shop" class="nav-link">Shop</a>
    </li>
    <li class="nav-item">
      <a href="/Product" class="nav-link">Product</a>
    </li>
    <li>
      <a href="/Cart" class="nav-link">Cart</a>
    </li>
    <li>
      <a href="/Order" class="nav-link">Order</a>
    </li>
    <li>
      <a href="/Add_Product" class="nav-link">Add Product</a>
    </li>
    <li>
      <a href="/Admin_Product" class="nav-link">Admin Product</a>
    </li>
  </ul>
</div>
</nav>
<br>
<br>
<h1 class="text-success ml-lg-3">#{error}</h1>
<h1 class="text-success ml-lg-3">CSRF Token-#{id}</h1>
</body>
</html>