<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/md/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/md/css/mdb.min.css">
  <link rel="stylesheet" type="text/css" href="/notification/build/toastr.css">
  <script src="/md/js/jquery-3.3.1.min.js"></script>
  <script src="/notification/toastr.js"></script>
  <script src="/md/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/css.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light kk fixed-top" style="background-color: #3399E7;">

<div class="navbar-collapse" >
  <ul class="navbar-nav lead ml-auto" style="font-weight: 600;f">
    <li >
      <a href="/" class="nav-link text-white te text-white te"><i class="fas fa-house-damage nav-link tx text-white"></i>Home</a>
    </li>
    <li>
      <a href="/Shop" class="nav-link text-white te text-white te"><i class="fas fa-shopping-bag nav-link tx text-white"></i>Shop</a>
    </li>
    <li >
      <a href="/Product" class="nav-link text-white te text-white te"><i class="fas fa-suitcase nav-link tx text-white"></i>Product</a>
    </li>
    
    <li>
      <a href="/Order" class="nav-link text-white te text-white te"><i class="fab fa-first-order nav-link tx text-white"></i>Order</a>
    </li>
    <li>
      <a href="/Add_Product" class="nav-link text-white te text-white te"><i class="fab fa-product-hunt nav-link tx text-white"></i>Add Product</a>
    </li>
    <li>
      <a href="/Admin_Product" class="nav-link text-white te text-white te"><i class="fab fa-cloudsmith nav-link tx text-white"></i>Admin Product</a>
    </li>
    
  </ul>
</div>
</nav>
<br>
<br>
<br>
<br>
<br>

<div class="container">
<center>
<p class="card-title" style="font-size: 20px;"><b>csrf Token::-#{csrf}</b></p>
  <form method="post" action="/add_Product_data" class="form-group row">
    
    <label style="color:black;font-weight:600;"  class="form-control-label col-sm-4">Title</label>
    <input style="border:2px solid #00695c;border-radius:0px;color:black;font-weight:450;" type="text" name="Title" class="form-control col-sm-6">
    <br>
    <br>
    <br>
    <label style="color:black;font-weight:600;" class="form-control-label col-sm-4">Image Url</label>
    <input style="border:2px solid #00695c;border-radius:0px;color:black;font-weight:450;" type="text" name="Image" class="form-control col-sm-6">
    <br>
    <br>
    <br>
    <label style="color:black;font-weight:600;" class="form-control-label col-sm-4">Price</label>    
    <input style="border:2px solid #00695c;border-radius:0px;color:black;font-weight:450;" type="text" name="price" class="form-control col-sm-6">
    <br>
    <br>
    <br>
    <label style="color:black;font-weight:600;" class="form-control-label col-sm-4">Description</label>
    <input style="border:2px solid #00695c;border-radius:0px;color:black;font-weight:450;" type="text" name="description" class="form-control col-sm-6">
    <br><br>
    <div class="col-sm-9">
      <br><br>
      <input type="hidden" name="_csrf" value="#{csrf}">  
      <button type="submit" class="btn btn-primary"><i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;submit</button>&nbsp;&nbsp;
      <button type="reset" class="btn btn-danger"><i class="fas fa-times"></i>&nbsp;&nbsp;cancel</button>
    </div>
  </form>
</center>
</div>
</body>
</html>